.page-title {
  background: rgb(25, 33, 94);
  padding: 10px 0;
  position: relative;
  z-index: 98;
}
.page-title h1 {
  color: rgb(255, 255, 255);
  font-size: 36px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: 0%;
}

.page-body {
  padding: 30px 0 50px;
}
.page-body .container > * {
  margin: 15px 0;
}
.page-body .wp-block-separator {
  margin: 0;
}
.page-body p {
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
}
.page-body .aligncenter {
  margin: 0 auto;
}
.page-body li {
  margin: 0 0 15px 15px;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
}
.page-body li:first-child {
  margin: 0px 0 15px 15px;
}
.page-body li:last-child {
  margin: 0 0 0 15px;
}
.page-body ul li {
  position: relative;
  padding: 0 0 0 15px;
}
.page-body ul li::before {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: rgb(175, 0, 38);
  position: absolute;
  top: 13px;
  left: 0;
  transform: translate(0, -50%);
}
.page-body ul li ul li::before {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: rgba(175, 0, 38, 0);
  border: 2px solid rgb(175, 0, 38);
  position: absolute;
  top: 13px;
  left: 0;
  transform: translate(0, -50%);
}
.page-body ol li::marker {
  color: rgb(175, 0, 38);
  font-weight: 800;
}
.page-body .wp-block-heading {
  font-weight: 600;
  line-height: 140%;
  margin: 15px 0 15px 0;
  position: relative;
}
.page-body h2.wp-block-heading {
  font-size: 24px;
}
.page-body h3.wp-block-heading {
  font-size: 20px;
}
.page-body .wp-block-image {
  min-width: fit-content;
  height: 100%;
  margin: 0 10px 0 0;
  object-fit: cover;
}
.page-body .wp-block-group-is-layout-flex p {
  align-self: flex-start;
}
.page-body p > a {
  font-size: 18px;
  font-weight: 700;
  line-height: 140%;
  color: rgb(25, 33, 94);
  text-decoration: underline rgb(25, 33, 94);
}
.page-body p > a:hover {
  text-decoration: underline rgb(175, 0, 38);
}
.page-body .wp-block-file a:first-child {
  font-size: 18px;
  font-weight: 700;
  line-height: 140%;
  color: rgb(25, 33, 94);
  text-decoration: underline rgb(25, 33, 94);
}
.page-body .wp-block-file a:first-child:hover {
  text-decoration: underline rgb(175, 0, 38);
}
.page-body .wp-block-file__button {
  font-size: 16px;
  font-weight: 700;
  line-height: 140%;
  min-width: 91px;
  height: 35px;
  text-align: center;
  background: rgb(175, 0, 38);
  color: white;
  padding: 5px 0 0 0;
  transition-duration: 500ms;
}
.page-body .wp-block-file__button:hover {
  transform: scale(1.08);
  background-color: rgb(121, 0, 26);
}
.page-body .wp-block-media-text {
  gap: 45px;
}
.page-body .wp-block-media-text__content {
  padding: 0;
}
.page-body .wp-block-media-text__content p + p {
  margin: 30px 0 0 0;
}
.page-body .wp-block-media-text__content p + p:first-child {
  margin: 0;
}
.page-body .wp-block-media-text__media {
  box-shadow: 0px 20px 40px 0px rgba(106, 106, 106, 0.25);
  border-radius: 10px;
  border: 5px solid rgba(25, 33, 94, 0.829);
}
.page-body .alignright {
  position: relative;
  right: 0;
}
.page-body .wp-block-image {
  display: block;
}
.page-body .wp-block-image img {
  box-shadow: 0px 20px 40px 0px rgba(106, 106, 106, 0.25);
  border-radius: 10px;
  border: 5px solid rgba(25, 33, 94, 0.829);
}
.page-body .no-border .wp-block-media-text__media {
  box-shadow: none;
  border-radius: 0;
  border: none;
}
.page-body .no-border img {
  box-shadow: none;
  border-radius: 0;
  border: none;
}
.page-body .black-border .wp-block-media-text__media {
  border: 3px solid black;
}
.page-body .black-border img {
  border: 3px solid black;
  border-radius: 7px;
}
.page-body .wp-block-embed-youtube iframe {
  min-width: 70%;
  margin: 0 auto;
  display: block;
}
.page-body .wp-block-group-is-layout-flex {
  flex-wrap: wrap !important;
}

.singles-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.singles-list .single {
  margin: 0 20px 20px 20px;
  width: 260px;
  height: 350px;
  min-width: 240px;
  overflow: hidden;
  border-radius: 30px;
  border: 5px solid rgb(25, 33, 94);
  box-shadow: 0px 20px 40px 0px rgba(106, 106, 106, 0.25);
  transition-duration: 500ms;
}
.singles-list .single:hover {
  transform: scale(1.05);
}
.singles-list .single:hover .single__img-cont img {
  transform: scale(1.1);
}
.singles-list .single:hover .single__title {
  background-color: rgb(132, 0, 29);
}
.singles-list .single a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.singles-list .single a::after {
  content: "";
  position: absolute;
  top: 0;
  background: rgba(25, 33, 94, 0.5);
  width: 100%;
  height: 100%;
  z-index: 2;
}
.singles-list .single__title {
  position: absolute;
  width: 100%;
  bottom: 10%;
  padding: 10px;
  z-index: 3;
  color: white;
  background-color: rgba(175, 0, 38, 0.5);
  backdrop-filter: blur(4px);
  border-top: 2px solid rgb(25, 33, 94);
  border-bottom: 2px solid rgb(25, 33, 94);
  transition-duration: 500ms;
}
.singles-list .single__title p {
  font-size: 24px;
  text-align: center;
  font-weight: 650;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 30px;
}
.singles-list .single__img-cont {
  height: 100%;
}
.singles-list .single__img-cont img {
  object-fit: cover;
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100%;
  transition-duration: 500ms;
  transform-origin: 20px 40px;
}
.singles-list .single-SMI {
  width: 100%;
  margin: 0 0 15px 0;
}
.singles-list .single-SMI a {
  display: block;
  width: fit-content;
  padding: 15px 10px 15px 30px;
  border-radius: 16px;
  box-shadow: 0px 20px 40px 0px rgba(106, 106, 106, 0.25);
  background: rgb(255, 255, 255);
  position: relative;
  overflow: hidden;
  transition-duration: 400ms;
  transform-origin: left;
}
.singles-list .single-SMI a::after {
  content: " ";
  background-color: rgb(175, 0, 38);
  width: 20px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition-duration: 500ms;
}
.singles-list .single-SMI a:hover {
  transform: scale(1.04);
}
.singles-list .single-SMI__title p {
  color: rgb(30, 24, 25);
  font-size: 20px;
  font-weight: 450;
  line-height: 135%;
}