.header__top {
  background: rgb(25, 33, 94);
}
.header__top a {
  color: rgb(255, 255, 255);
}
.header__row1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}
.header__home a {
  height: 40px;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0%;
  margin: 0 -15px;
  padding: 0 15px;
  transition-duration: 500ms;
}
.header__home a img {
  max-width: 24px;
  max-height: 24px;
  margin: 0 12px 0 0;
}
.header__home a p {
  margin: 2px 0 0 0;
}
.header__home a:hover {
  background: rgb(15, 20, 59);
}
.header__menu ul {
  display: flex;
}
.header__menu ul li {
  margin: 0 64px 0 0;
}
.header__menu ul li a {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
}
.header__menu ul li a:hover {
  text-decoration: underline;
}
.header__burger {
  width: 65px;
  height: 40px;
  transition-duration: 500ms;
  cursor: pointer;
}
.header__burger img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 34px;
  height: 19.5px;
}
.header__burger:hover {
  background: rgb(15, 20, 59);
}
.header__bottom {
  height: 200px;
}
.header__row2 {
  display: flex;
  align-items: center;
}
.header__logo {
  margin: 0 60px 0 0;
  position: relative;
}
.header__logo a {
  cursor: default;
}
.header__logo img {
  width: 200px;
  height: 200px;
}
.header__logo::after {
  content: " ";
  background-color: rgb(154, 154, 154);
  width: 1px;
  height: 109px;
  position: absolute;
  display: inline-block;
  top: 25%;
  right: -60px;
}
.header__title {
  margin: 0 0 0 60px;
}
.header__title p {
  font-size: 38px;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: 0%;
  color: rgb(25, 33, 94);
}
.header__title p span {
  color: rgb(175, 0, 38);
}

@media (max-width: 1023px) {
  .header__row1 {
    height: 30px;
  }
  .header__home a {
    height: 30px;
    font-size: 14px;
  }
  .header__home a img {
    max-width: 18px;
    max-height: 18px;
    margin: 0 12px 0 0;
  }
  .header__home a p {
    margin: 2px 0 0 0;
  }
  .header__menu ul li {
    margin: 0 46px 0 0;
  }
  .header__menu ul li a {
    font-size: 12px;
  }
  .header__burger {
    width: 55px;
    height: 30px;
  }
  .header__burger img {
    width: 24px;
    height: 13.7px;
  }
  .header__bottom {
    height: 140px;
  }
  .header__logo {
    margin: 0 45px 0 0;
  }
  .header__logo img {
    width: 140px;
    height: 140px;
  }
  .header__logo::after {
    width: 1px;
    height: 76px;
    top: 25%;
    right: -45px;
  }
  .header__title {
    margin: 0 0 0 60px;
  }
  .header__title p {
    font-size: 28px;
    line-height: 45px;
  }
}
@media (max-width: 768px) {
  .header__row1 {
    height: 25px;
  }
  .header__home a {
    height: 25px;
    font-size: 12px;
    margin: 0 -12px;
    padding: 0 12px;
  }
  .header__home a img {
    max-width: 16px;
    max-height: 16px;
    margin: 0 12px 0 0;
  }
  .header__home a p {
    margin: 2px 0 0 0;
  }
  .header__menu ul li {
    margin: 0 24px 0 0;
  }
  .header__menu ul li a {
    font-size: 10px;
  }
  .header__burger {
    width: 40px;
    height: 25px;
  }
  .header__burger img {
    width: 24px;
    height: 13.7px;
  }
  .header__bottom {
    height: 140px;
  }
  .header__logo {
    margin: 0 30px 0 0;
  }
  .header__logo img {
    width: 120px;
    height: 120px;
  }
  .header__logo::after {
    width: 1px;
    height: 76px;
    top: 25%;
    right: -45px;
  }
  .header__title {
    margin: 0 0 0 30px;
  }
  .header__title p {
    font-size: 18px;
    line-height: 30px;
  }
}
@media (max-width: 495px) {
  .header__menu {
    display: none;
  }
  .header__bottom {
    height: 110px;
  }
  .header__logo {
    margin: 0 10px 0 0;
  }
  .header__logo img {
    width: 100px;
    height: 100px;
  }
  .header__logo::after {
    width: 1px;
    height: 58px;
    top: 25%;
    right: -10px;
  }
  .header__title {
    margin: 0 0 0 10px;
  }
  .header__title p {
    font-size: 16px;
    line-height: 30px;
  }
}
@media (max-width: 365px) {
  .header__title p {
    font-size: 14px;
    line-height: 30px;
  }
}