.profile {
  position: relative;
  width: 100%;
}
.profile__row {
  display: grid;
  grid-template-columns: minmax(180px, 25%) auto;
  grid-template-areas: "image name" "image info";
  gap: 30px;
  height: 100%;
}
.profile__row:has(img[src=null]) {
  grid-template-columns: auto;
  grid-template-areas: "name" "info";
}
.profile__row:has(img[src=""]) {
  grid-template-columns: auto;
  grid-template-areas: "name" "info";
}
.profile__img {
  height: 100%;
  width: 100%;
  grid-area: image;
}
.profile__img img {
  border-radius: 30px;
  border: solid 3px rgb(25, 33, 94);
  width: 100%;
  object-fit: contain;
  max-width: 340px;
}
.profile__img img[src=null] {
  display: none;
}
.profile__img img[src=""] {
  display: none;
}
.profile__position {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgb(175, 0, 38);
  padding: 7px 25px;
  border-radius: 0 0 0 30px;
}
.profile__position p {
  font-size: 28px;
  color: white;
  font-weight: 600;
}
.profile__name {
  padding: 20px 0 0 0;
  grid-area: name;
}
.profile__name p {
  font-size: 30px;
  font-weight: 550;
}
.profile__data {
  grid-area: info;
}
.profile__data p {
  margin: 0 0 10px 0;
}
.profile__button {
  position: absolute;
  bottom: 30px;
  right: 30px;
}
.profile__button a {
  display: block;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  transition-duration: 400ms;
  background-color: rgb(175, 0, 38);
  overflow: hidden;
  border-radius: 10px;
  text-decoration: underline;
}
.profile__button a:hover {
  background-color: rgb(132, 0, 29);
  transform: scale(1.03);
}
.profile__content {
  margin: 30px 0 0 0;
  font-size: 18px;
  line-height: 160%;
}
.profile__articles {
  margin: 0 0 30px 0;
}

@media (max-width: 768px) {
  .profile__position p {
    font-size: 22px;
    color: white;
    font-weight: 600;
  }
  .profile__name p {
    font-size: 24px;
  }
  .profile__data p {
    font-size: 16px;
  }
  .profile__button a {
    font-size: 16px;
    font-weight: 600;
  }
}
@media (max-width: 580px) {
  .profile__row {
    display: grid;
    grid-template-areas: "image name" "info info";
    grid-template-columns: minmax(130px, 25%) auto;
  }
  .profile__row:has(img[src=null]) {
    grid-template-columns: auto;
    grid-template-areas: "name" "info";
  }
  .profile__row:has(img[src=""]) {
    grid-template-columns: auto;
    grid-template-areas: "name" "info";
  }
  .profile__position p {
    font-size: 18px;
    color: white;
    font-weight: 600;
  }
  .profile__name p {
    font-size: 22px;
  }
  .profile__data p {
    font-size: 16px;
  }
  .profile__button a {
    font-size: 16px;
    font-weight: 600;
  }
}
@media (max-width: 365px) {
  .profile__row {
    grid-template-columns: minmax(90px, 25%) auto;
  }
}