.page-title {
    background: rgb(25, 33, 94);
    padding: 10px 0;
    position: relative;
    z-index: 98;

    h1 {
        color: rgb(255, 255, 255);
        font-size: 36px;
        font-weight: 600;
        line-height: 50px;
        letter-spacing: 0%;
    }
}

.page-body {
    padding: 30px 0 50px;

    .container>* {
        margin: 15px 0;
    }

    .wp-block-separator {
        margin: 0;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 22px;
    }

    p {
        font-size: 18px;
        font-weight: 400;
        line-height: 140%;
    }

    .aligncenter {
        //Выравнивание таблицы посередине
        margin: 0 auto;
    }

    li {
        margin: 0 0 15px 15px;
        font-size: 18px;
        font-weight: 400;
        line-height: 140%;

        &:first-child {
            margin: 0px 0 15px 15px;
        }

        &:last-child {
            margin: 0 0 0 15px;
        }
    }

    ul {
        li {
            position: relative;
            padding: 0 0 0 15px;

            &::before {
                content: '';
                width: 7px;
                height: 7px;
                border-radius: 50%;
                background-color: rgb(175, 0, 38);
                position: absolute;
                top: 13px;
                left: 0;
                transform: translate(0, -50%);
            }

            ul {
                li {
                    &::before {
                        content: '';
                        width: 7px;
                        height: 7px;
                        border-radius: 50%;
                        background-color: rgba(175, 0, 38, 0);
                        border: 2px solid rgba(175, 0, 38);
                        position: absolute;
                        top: 13px;
                        left: 0;
                        transform: translate(0, -50%);
                    }
                }
            }
        }
    }

    ol {
        li {
            &::marker {
                color: rgb(175, 0, 38);
                font-weight: 800;
            }
        }
    }

    .wp-block-heading {
        font-weight: 600;
        line-height: 140%;
        margin: 15px 0 15px 0;
        position: relative;
    }

    .wp-block-image {
        min-width: fit-content;
        height: 100%;
        margin: 0 10px 0 0;
        object-fit: cover;
    }

    .wp-block-group-is-layout-flex {
        p {
            align-self: flex-start;
        }
    }

    p>a {
        font-size: 18px;
        font-weight: 700;
        line-height: 140%;
        color: rgb(25, 33, 94);
        text-decoration: underline rgb(25, 33, 94);

        &:hover {
            text-decoration: underline rgb(175, 0, 38);
        }
    }

    .wp-block-file {
        display: flex;
        align-items: center;

        a {
            &:first-child {
                font-size: 18px;
                font-weight: 700;
                line-height: 140%;
                color: rgb(25, 33, 94);
                text-decoration: underline rgb(25, 33, 94);

                &:hover {
                    text-decoration: underline rgb(175, 0, 38);
                }

                mark {
                    font-size: 16px;
                    font-weight: 500;
                }
            }
        }

        &__button {
            font-size: 16px;
            font-weight: 700;
            line-height: 140%;
            min-width: 91px;
            height: 35px;
            text-align: center;
            background: rgb(175, 0, 38);
            color: white;
            padding: 5px 0 0 0;
            transition-duration: 500ms;

            &:hover {
                transform: scale(1.08);
                background-color: rgb(121, 0, 26);
            }
        }
    }

    .wp-block-media-text {
        gap: 45px;

        &__content {
            padding: 0;

            p+p {
                margin: 30px 0 0 0;

                &:first-child {
                    margin: 0;
                }
            }
        }

        &__media {
            box-shadow: 0px 20px 40px 0px rgba(106, 106, 106, 0.25);
            border-radius: 10px;
            border: 5px solid rgba(25, 33, 94, 0.829);
        }
    }

    .alignright {
        position: relative;
        right: 0;
    }

    .wp-block-image {

        display: block;
        // margin: 0 auto;

        img {
            box-shadow: 0px 20px 40px 0px rgba(106, 106, 106, 0.25);
            border-radius: 10px;
            border: 5px solid rgba(25, 33, 94, 0.829);
        }
    }

    .no-border {

        //Пользовательский класс, чтоб убрать рамку фото
        .wp-block-media-text__media {
            box-shadow: none;
            border-radius: 0;
            border: none;
        }

        img {
            box-shadow: none;
            border-radius: 0;
            border: none;
        }
    }

    .black-border {
        .wp-block-media-text__media {
            border: 3px solid black;
        }

        img {
            border: 3px solid black;
            border-radius: 7px;
        }
    }

    .wp-block-embed-youtube {
        iframe {
            min-width: 70%;
            margin: 0 auto;
            display: block;
        }
    }

    .wp-block-group-is-layout-flex {
       // flex-wrap: wrap !important;
    }
}

.singles-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .single {
        margin: 0 20px 20px 20px;
        width: 260px;
        height: 350px;
        min-width: 240px;
        overflow: hidden;
        border-radius: 30px;
        border: 5px solid rgb(25, 33, 94);
        box-shadow: 0px 20px 40px 0px rgba(106, 106, 106, 0.25);
        transition-duration: 500ms;

        &:hover {
            transform: scale(1.05);

            .single__img-cont {
                img {
                    transform: scale(1.1);
                }
            }

            .single__title {
                background-color: rgb(132, 0, 29);
            }
        }

        a {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;

            &::after {
                content: '';
                position: absolute;
                top: 0;
                background: rgba(25, 33, 94, 0.5);
                width: 100%;
                height: 100%;
                z-index: 2;
            }
        }

        &__title {
            position: absolute;
            width: 100%;
            bottom: 10%;
            padding: 10px;
            z-index: 3;
            color: white;
            background-color: rgba(175, 0, 38, 0.5);
            backdrop-filter: blur(4px);
            border-top: 2px solid rgb(25, 33, 94);
            border-bottom: 2px solid rgb(25, 33, 94);
            transition-duration: 500ms;

            p {
                font-size: 24px;
                text-align: center;
                font-weight: 650;
                text-overflow: ellipsis;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                line-clamp: 3;
                -webkit-box-orient: vertical;
                line-height: 30px;
            }
        }

        &__img-cont {
            height: 100%;

            img {
                object-fit: cover;
                position: absolute;
                z-index: 1;
                top: 0;
                width: 100%;
                height: 100%;
                transition-duration: 500ms;
                transform-origin: 20px 40px;
            }
        }
    }

    .single-SMI {
        width: 100%;
        margin: 0 0 15px 0;

        a {
            display: block;
            width: fit-content;
            padding: 15px 10px 15px 30px;
            border-radius: 16px;
            box-shadow: 0px 20px 40px 0px rgba(106, 106, 106, 0.25);
            background: rgb(255, 255, 255);
            position: relative;
            overflow: hidden;
            transition-duration: 400ms;
            transform-origin: left;

            &::after {
                content: " ";
                background-color: rgb(175, 0, 38);
                width: 20px;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                transition-duration: 500ms;
            }

            &:hover {
                transform: scale(1.04);
            }
        }

        &__title {
            p {
                color: rgb(30, 24, 25);
                font-size: 20px;
                font-weight: 450;
                line-height: 135%;
            }
        }
    }
}


@media (max-width: 768px) {
    .page-title {
        h1 {
            font-size: 26px;
            line-height: 30px;
        }
    }

    .page-body {
        p {
            font-size: 16px;
        }

        h1 {
            font-size: 24px;
        }

        h2 {
            font-size: 22px;
        }

        h3 {
            font-size: 20px;
        }
    }
}

@media (max-width: 495px) {
    .page-title {
        h1 {
            font-size: 24px;
        }
    }

    .page-body {
        p {
            font-size: 16px;
        }

        h1 {
            font-size: 24px;
        }

        h2 {
            font-size: 22px;
        }

        h3 {
            font-size: 20px;
        }
    }

    .wp-block-file__button {
        display: none;
    }
}