.page-title {
    background: rgb(25, 33, 94);
    padding: 10px 0;
    position: relative;
    z-index: 98;

    h1 {
        color: rgb(255, 255, 255);
        font-size: 36px;
        font-weight: 600;
        line-height: 56px;
        letter-spacing: 0%;
    }
}

.page-body {
    padding: 30px 0 50px;

    .container>* {
        margin: 15px 0;
    }

    .wp-block-separator {
        margin: 0;
    }

    p {
        font-size: 18px;
        font-weight: 400;
        line-height: 140%;
    }

    .aligncenter {
        //Выравнивание таблицы посередине
        margin: 0 auto;
    }

    li {
        margin: 0 0 15px 15px;
        font-size: 18px;
        font-weight: 400;
        line-height: 140%;

        &:first-child {
            margin: 20px 0 15px 15px;
        }

        &:last-child {
            margin: 0 0 0 15px;
        }
    }

    ul {
        li {
            position: relative;
            padding: 0 0 0 15px;

            &::before {
                content: '';
                width: 7px;
                height: 7px;
                border-radius: 50%;
                background-color: rgb(175, 0, 38);
                position: absolute;
                top: 13px;
                left: 0;
                transform: translate(0, -50%);
            }
        }
    }

    ol {
        li {
            &::marker {
                color: rgb(175, 0, 38);
                font-weight: 800;
            }
        }
    }

    .wp-block-heading {
        font-size: 24px;
        font-weight: 600;
        line-height: 140%;
        margin: 15px 0 15px 0;
        position: relative;
    }

    .wp-block-image {
        min-width: fit-content;
        height: 100%;
        margin: 0 10px 0 0;
        object-fit: cover;
    }

    .wp-block-group-is-layout-flex {
        p {
            align-self: flex-start;
        }
    }

    p>a {
        font-size: 18px;
        font-weight: 700;
        line-height: 140%;
        color: rgb(25, 33, 94);
        text-decoration: underline rgb(25, 33, 94);

        &:hover {
            text-decoration: underline rgb(175, 0, 38);
        }
    }

    .wp-block-file {
        a {
            &:first-child {
                font-size: 18px;
                font-weight: 700;
                line-height: 140%;
                color: rgb(25, 33, 94);
                text-decoration: underline rgb(25, 33, 94);

                &:hover {
                    text-decoration: underline rgb(175, 0, 38);
                }
            }
        }

        &__button {
            font-size: 16px;
            font-weight: 700;
            line-height: 140%;
            min-width: 91px;
            height: 35px;
            text-align: center;
            background: rgb(175, 0, 38);
            color: white;
            padding: 5px 0 0 0;
            transition-duration: 500ms;

            &:hover {
                transform: scale(1.08);
                background-color: rgb(121, 0, 26);
            }
        }
    }

    .wp-block-media-text {
        gap: 45px;

        &__content {
            padding: 0;

            p+p {
                margin: 30px 0 0 0;

                &:first-child {
                    margin: 0;
                }
            }
        }

        &__media {
            box-shadow: 0px 20px 40px 0px rgba(106, 106, 106, 0.25);
            border-radius: 10px;
            border: 5px solid rgba(25, 33, 94, 0.829);
        }
    }

    .alignright {
        position: relative;
        right: 0;
    }

    .wp-block-image {

        display: block;
        // margin: 0 auto;

        img {
            box-shadow: 0px 20px 40px 0px rgba(106, 106, 106, 0.25);
            border-radius: 10px;
            border: 5px solid rgba(25, 33, 94, 0.829);
        }
    }

    .no-border {

        //Пользовательский класс, чтоб убрать рамку фото
        .wp-block-media-text__media {
            box-shadow: none;
            border-radius: 0;
            border: none;
        }

        img {
            box-shadow: none;
            border-radius: 0;
            border: none;
        }
    }

    .black-border {
        .wp-block-media-text__media {
            border: 3px solid black;
        }

        img {
            border: 3px solid black;
            border-radius: 7px;
        }
    }
}