.worker {
    width: 100%;
    height: auto;
    background-color: white;
    padding: 30px;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 20px 40px 0px rgba(106, 106, 106, 0.25);
    margin: 0 0 35px 0;

    &__row {
        display: grid;
        grid-template-columns: minmax(180px, 25%) auto;
        grid-template-areas:
            'image name'
            'image info';
        gap: 30px;
        height: 100%;

        &:has(img[src="null"]) {
            grid-template-columns: auto;
            grid-template-areas:
                'name'
                'info';
        }
        &:has(img[src=""]) {
            grid-template-columns: auto;
            grid-template-areas:
                'name'
                'info';
        }
    }

    &__img {
        height: 100%;
        grid-area: image;

        img {
            border-radius: 30px;
            border: solid 3px rgb(190, 190, 190);
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        img[src="null"] {
            display: none;
        }

        img[src=""] {
            display: none;
        }
    }

    &__ihfo {}

    &__position {
        position: absolute;
        top: 0;
        right: 0;
        background-color: rgb(175, 0, 38);
        padding: 7px 25px;
        border-radius: 0 0 0 30px;

        p {
            font-size: 28px;
            color: white;
            font-weight: 600;
        }
    }

    &__name {
        padding: 40px 0 0 0;
        grid-area: name;

        p {
            font-size: 30px;
            font-weight: 550;
        }
    }

    &__data {
        margin: 0 0 50px 0;
        grid-area: info;

        p {
            margin: 0 0 10px 0;
        }
    }

    &__button {
        position: absolute;
        bottom: 30px;
        right: 30px;

        a {
            display: block;
            padding: 10px 20px;
            font-size: 20px;
            font-weight: 600;
            color: white;
            transition-duration: 400ms;
            background-color: rgb(175, 0, 38);
            overflow: hidden;
            border-radius: 10px;
            text-decoration: underline;

            &:hover {
                background-color: rgb(132, 0, 29);
                transform: scale(1.03);
            }
        }
    }
}

@media (max-width: 768px) {
    .worker {
        padding: 30px;
        border-radius: 30px;

        &__position {
            p {
                font-size: 22px;
                color: white;
                font-weight: 600;
            }
        }

        &__name {

            p {
                font-size: 24px;
            }
        }

        &__data {
            p {
                font-size: 16px;
            }
        }

        &__button {

            a {
                font-size: 16px;
                font-weight: 600;
            }
        }
    }
}


@media (max-width: 580px) {
    .worker {
        padding: 30px;
        border-radius: 30px;

        &__row {
            display: grid;
            grid-template-areas:
                'image name'
                'info info';
            grid-template-columns: minmax(130px, 25%) auto;

            &:has(img[src="null"]) {
                grid-template-columns: auto;
                grid-template-areas:
                    'name'
                    'info';
            }
            &:has(img[src=""]) {
                grid-template-columns: auto;
                grid-template-areas:
                    'name'
                    'info';
            }
        }

        &__position {
            p {
                font-size: 18px;
                color: white;
                font-weight: 600;
            }
        }

        &__img {}

        &__name {

            p {
                font-size: 22px;
            }
        }

        &__data {

            p {
                font-size: 16px;
            }
        }

        &__button {

            a {
                font-size: 16px;
                font-weight: 600;
            }
        }
    }
}

@media (max-width: 365px) {
    .worker {
        &__row {
            grid-template-columns: minmax(90px, 25%) auto;
        }
    }
}